/***********************************************************首页start********************************************************/
/*************************顶部start****************************/
.image-area {
	background: url('../Img/header_background.jpg') no-repeat center center;
	background-size: cover;
	height: 570px !important;
}
@media (max-width: 767px){
	.image-area {
	    height: 400px !important;
	}
}
@media (min-width: 768px){
	body #header {
	    background: none;
	}
}
@media (min-width: 768px){
	.home #header {
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: 0;
	}
}
@media (max-width: 767px){
	 body #header {
	    padding: 0;
	}
}

#header {
    width: 100%;
    padding: 0 30px;
    background-color: #fff;
    margin-bottom: 0;
    border: none;
    min-height: 80px;
}
#header .navbar-toggle {
    margin-top: 25px;
    margin-bottom: 25px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 1px solid #d5493d;
}
#header .navbar-toggle .icon-bar {
    border-bottom: 1px solid #D5493D;
}
@media (max-width: 767px){
	#header #logo {
	    background: url('../Img/logo_list.png') no-repeat center left;
	    margin-left: 15px;
	}
}
/*@media (min-width: 768px){
	.navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
	    padding-left: 0;
	    padding-right: 0;
	    display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
        width: auto;
        border-top: 0;
        box-shadow: none;
	}
}*/
#logo {
	background: url('../Img/logo.png') no-repeat center center;
	width: 120px;
	height: 80px;
	padding: 18px 0;
	float: left;
}
@media (max-width: 767px){
	.home .navbar .nav {
	    border-top: 1px solid #eee;
	}
}

@media (max-width: 767px){
	.pull-right {
	    float: none !important;
	}
}

.header-list {
	float:right;
	list-style: none;
	margin: 0;
	padding: 0;
}
.header-list li {
	padding: 18px 23px;
	/*width: 120px;*/
	text-align: center;
}
.host {
	background-color: rgb(225, 112, 114);
	color: #fff;
	padding: 14px 28px !important;
	/*width: 120px;*/
	height: 48px;
	border-radius: 3px;
}
.title-text {
	margin: 0 auto;
	padding: 246px 0 188px 0;
	text-align: center;
	max-width: 79.5%;
}
@media (max-width: 767px){
	.title-text {
		padding: 160px 0 103px 0;
	    height: 400px !important;
	}
}
.title-text h1 {
	font-size: 54px;
	line-height: 54px;
	margin-top: 0;
	color: #fff;
	font-weight: 900;
	-webkit-font-smoothing: antialiased;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.40);
}
.title-text h3 {
	font-size: 38px;
	line-height: 44px;
	margin: 20px auto 0;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.40);
}
.title-text span {
	color: rgb(214,109,110);
	-webkit-font-smoothing: antialiased;
}
@media (max-width: 767px){
	.title-text h1 {
		font-size: 34px;
		line-height: 44px;
	}
	.title-text h3 {
		font-size: 18px;
		line-height: 28px;
	}
}
/*************************顶部end****************************/

/*************************中间内容start****************************/
.content {
	background-color: #f6f6f6;
}
.content h2 {
	padding: 43px 0;
	text-align: center;
	font-size: 30px;
	color: rgb(74, 74, 74);
	line-height: 30px;
	margin: 0;
}
.discovery-card {
	background-color: #f6f6f6;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	height: 346px;
	margin-bottom: 20px;
	display: table;
	width: 100%;
}
.more-cities {
	text-align: center;
	padding: 30px 0 48px 0;
}
.btn-more{
	display: inline-block;
	padding: 20px 17%;
	text-align: center;
	font-size: 16px;
	color: rgb(214, 109, 110);
	border: 1px solid rgb(214, 109, 110);
	line-height: 20px;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 2px;
}
.destination-info {
	text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
}
.destination-info .collect {
	display: inline-block;
}
.destination-info .location {
	font-size: 54px;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.30);
}
.host-number {
	background-color: rgb(214, 109, 110);
	border-radius: 80px;
}


/*************************中间内容end****************************/

/*************************体验指引start****************************/
.how-it-works {
	padding-bottom: 50px;
	color: rgb(74, 74, 74);
}
.how-it-works .title {
	padding: 48px 0 20px 0;
	font-size: 24px;
	/*line-height: */
	/*color: rgb(74, 74, 74);*/
	text-align: center;
	margin: 0;
}
.how-it-works .subtitle {
	/*font-family: Gemeli-bold;*/
    font-size: 20px;
    color: #444;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}
.how-it-works .description {
	max-width: 288px;
    padding: 0 20px;
    margin: auto;
    /*font-family: Gemeli-regular;*/
    font-size: 16px;
    color: #393939;
	line-height: 24px;
    font-weight: 700;
}


/*************************体验指引end****************************/

/*************************底部start****************************/
.footer {
	background-color: rgb(58, 70, 81);
}
.footer .pt60 {
    padding-top: 24px;
}
.footer .pt100 {
    padding-top: 42px;
}
.footer .widget {
    padding-bottom: 30px;
}
.footer h4.title {
    font-size: 20px;
    color: white;
    margin-bottom: 38px;
    /*font-family: 'Open Sans', sans-serif;*/
    font-weight: 300;
}
.footer p.title {
    font-size: 16px;
    color: white;
    /*font-family: 'Open Sans';*/
    font-weight: 300;
    letter-spacing: 0.4px;
    opacity: 0.7;
    color: rgb(108, 123, 138);
}
.footer .widget .menu {
    list-style: none;
}
.footer a {
    font-size: 16px;
    opacity: 0.7;
    display: block;
    line-height: 30px;
    /*font-family: 'Open Sans', sans-serif;*/
    font-weight: 300;
    color: rgb(108, 123, 138);
}
.copyright {
    border-top: solid 1px rgb(108,112,116);
    font-size: 16px;
    opacity: 0.7;
    padding-top: 19px;
    padding-bottom: 30px;
    /*font-family: 'Open Sans', sans-serif;*/
    font-weight: 200;
    color: rgb(108, 123, 138);
}
.copyright img, .copyright p {
    display: inline-block;
}
img {
    vertical-align: middle;
}
#select-language, #select-currency {
	font-size: 16px;
}
#select-currency:not([multiple]), #select-language:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: 93% 50%;
    background-repeat: no-repeat;
    background-image: url('../Img/triangle.png');
    padding: 9px 30px;
    padding-right: 7%;
}
#select-currency, #select-language {
    margin-bottom: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*border-radius: 0 !important;*/
    border: 1px solid rgb(151, 151, 151);
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 40px;
    font-size: 16px;
    color: #dcdcdc !important;
    /*font-family: 'Open Sans', sans-serif !important;*/
    text-transform: uppercase;
}
.footer .form-control {
    cursor: pointer;
}
.record {
	height: 35px;
	display: inline-block;
	line-height: 35px;
}
/*************************底部end****************************/
/***********************************************************首页end********************************************************/
/***********************************************************列表页start****************************************************/
/*************************背景start******************************/
#search-page {
    position: relative;
    padding-top: 85px;
}
.top-page-visual {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 270px;
}
.top-page-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.top-page-text .top-page-title {
    text-transform: uppercase;
    font-size: 54px;
    font-weight: 900;
    line-height: 54px;
}
.top-page-text .top-page-title, .top-page-text .top-page-subtitle {
    font-family: 'Gemeli-regular',sans-serif;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    color: #fff;
    letter-spacing: 1px;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.40);
    padding: 0;
    margin: 0;
}
.top-page-text .top-page-subtitle {
    margin-top: 5px;
    font-size: 30px;
    line-height: 32px;
}
/*************************背景end********************************/
/*************************搜索start******************************/
.list-host-number {
	width: 33%;
	text-align: center;
	color: #fff;
	margin-top: 7px;
	font-size: 16px;
}
.intelligent-filter {
	margin-top: 7px;
	color: rgb(225, 112, 114);
	font-size: 16px;
}
.filter-option {
	font-size: 16px;
	color: rgb(74, 74, 74)
}
#search-page .inner-search-page .search-page-filters {
    background-color: #f8f8f8;
    padding: 15px 0;
    margin-bottom: 60px;
    border-top: 1px solid #e5e5e5;
    box-shadow: 0 1px 0 0 #e5e5e5;
}
/*************************搜索end********************************/
/*************************搜索结果start******************************/
.INFO-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 14px
}
.INFO-username {
	margin-left:16px;
	font-size: 16px;
	color:rgb(74, 74, 74)
}
.INFO-avatar {
	border-radius: 50%;
}
.INFO-location {
	font-size: 12px;
	padding-right: 20px;
	color:rgb(132, 132, 132)
}
.INFO-description {
	margin-bottom: 20px;
	font-size: 20px;
	height: 54px;
	overflow: hidden;
	color: rgb(74,74,74);
}
.host-reviews {
	float: left;
	padding-top: 10px;
}
.comment-number {
	color: rgb(132, 132, 132);
	font-size: 16px;
}
.meal-price {
	float: right;
	color: rgb(225,112,114)
}
.meal-price .symbol {
	font-size: 20px;
}
.meal-price .price {
	font-size: 30px;
}
#search-page .all-research-results {
    padding-bottom: 30px;
}
#search-page .all-research-results .single-meal {
    margin-bottom: 30px;
}
#search-page a {
    cursor: pointer;
    color: #D5473B;
    text-decoration: none;
    background-color: transparent;
}
#search-page .all-research-results .screenshot-single-item, #search-page .map-container .screenshot-single-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    transition: all 0.5s ease;
}
#search-page .all-research-results .screenshot-single-item a, #search-page .map-container .screenshot-single-item a {
    height: 100%;
    width: 100%;
    display: block;
}
#search-page .all-research-results .all-informations {
    padding: 15px;
    margin-top: 0;
    border: solid 1px #e5e5e5;
}
.media, .media-body {
    zoom: 1;
    overflow: hidden;
}
#search-page .media-primary {
    position: relative;
}
#search-page .media-primary {
    display: block;
    height: 3.3em;
    overflow: hidden;
    font-size: 20px;
}
#search-page .all-research-results .host-profile-picture, #search-page .map-container .host-profile-picture {
    width: 50px;
}
.host-profile-picture {
    display: table-cell;
    vertical-align: middle;
}
.media-left, .media>.pull-left {
    padding-right: 10px;
}
/*.media-left, .media-right, .media-body {
    display: table-cell;
    vertical-align: top;
}*/
#search-page .all-research-results .host-profile-picture a, #search-page .map-container .host-profile-picture a {
    display: block;
    transition: all 0.5s ease;
}
.host-profile-picture .img-responsive {
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
}
.media-object {
    display: block;
}
.img-circle {
    border-radius: 50%;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}
#search-page .media-body, #search-page .link-meal {
    width: 100%;
    background: #fff;
}

/*.media-middle {
    vertical-align: middle;
}*/
/*.media, .media-body {
    zoom: 1;
    overflow: hidden;
}*/
#search-page .all-research-results .title-meal, #search-page .map-container .title-meal {
    font-family: "Gemeli-Regular",sans-serif;
    font-size: 20px;
    color: #313131;
    line-height: 1.1;
    letter-spacing: 0.4px;
    margin-bottom: 0;
}
#search-page .title-meal, .block-with-text {
    letter-spacing: 0.4px;
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
}
.media-heading {
    margin-top: 0;
    margin-bottom: 5px;
}
#search-page .all-research-results .title-meal a, #search-page .map-container .title-meal a {
    color: #313131;
}
#search-page .title-meal a {
    font-family: Gemeli-Light;
    color: #313131;
}
#search-page .link-meal {
    display: inline-flex;
    max-height: 3.3em;
}
#search-page .all-research-results .border-bottom, #search-page .map-container .border-bottom {
    margin-bottom: 15px;
    border-bottom: 1px solid #e5e5e5;
}

/*************************搜索结果end******************************/