<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  #RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
  #RewriteRule ^/([^/]+)/([^/]+)/? /index.php?a=$1&c=$2 
  #RewriteRule ^/index?([^a]+)/([^/]+) /index.php?a=$1
  #RewriteRule list$ /index.php?a=List

  RewriteRule notify$ /index.php?c=Buy&a=Notify

</IfModule>
